<h2><%= @student.name%></h2>

<p>Mod: <%= @student.mod %> </p>

<p>Ducks</p>
<ul>
<% @student.ducks.each do |duck| %>
    <li><%= link_to duck.name, duck_path(duck) %>
<%end %>
</ul>

<br>
<%= link_to "Edit Student", edit_student_path%>
<br>
<%= link_to "All Students", students_path %>

